*{
  font-weight:bold;
}
.target{
  margin-left:550px;
  display:inline-block;
}
h1{
  text-align:center;
  font-size:60px;
  text-shadow    : 
  2px  2px 1px #003366,
 -2px  2px 1px #003366,
  2px -2px 1px #003366,
 -2px -2px 1px #003366,
  2px  0px 1px #003366,
  0px  2px 1px #003366,
 -2px  0px 1px #003366,
  0px -2px 1px #003366; 
  color:white;
}
ul{ 
  margin: 0; 
  padding: 0; 
  list-style: none; 
  }
  .menu{
    position:fixed;
    margin-top:-30px;
  }
 
  .menu li{ 
  display: inline; 
  padding: 0; 
  margin: 0; 
  }
  .menu li a{
  display: block; 
  border-left: 8px solid #C97556;
  
  border:2px solid #474655;
  padding: 3px 10px;
  text-decoration: none;
  color: black;
  width: 260px; 
  margin: 1px 0px;
  text-align: left;
  font-size: 20px;
  }
  .menu li a:hover{
  border-left: 8px solid #990033;
  background-color: #c7c3ff;
  }